@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

body {
  background: linear-gradient(-45deg, #ffffff, #ffffad, #eefbff);
  /* background-color: black; */
  overflow-x: hidden;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  /* color: white; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar-collapse {
  justify-content: flex-end;
}

#Aboutme {
  height: 100%;
}

#Skills {
  height: 100%;

  margin-top: 50px;
}
/* Text Align Justify */
.justify-text {
  text-align: justify;
}

/* About Me Section Margin + Padding */
#Aboutme {
  margin: 5px;
  padding: 5px;
}

.skill-column {
  border: 1px solid black;
}

.column1 {
  /* border: 1px solid black;     */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.skill-column {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Skill-Box {
  display: block;
}

.Skill-Box:hover {
  /* padding: -1px;  */
  background-color: #ffffff; /* bg-body-tertiary - Replace with the desired color */
  border-radius: 25px; /* rounded */
  transition: all 0.3s linear;
  color: black;
}

.Skill-Box > .img-class {
  margin-top: 15px;
}

.Skill-Box > .text-class {
  margin-top: 5px;
}

.img-class > img {
  height: 150px;
  width: 150px;
}

.fs-1 {
  font-family: "PT Serif", serif;
}
